version: '2.2'

services:
  super-app:
    container_name: backend
    image: node:12.18.4
    build: ./
    command: npm run dev
    working_dir: /usr/src/super-app
    ports:
      - '3500:3500'
    volumes:
      - ./:/usr/src/super-app

  #adding postgress
  mongoDb:
    container_name: postgres
    image: postgres
    ports:
      - '5000:5432'
